:root {
    background-color: blueviolet;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.btn:hover {
    color: blueviolet;
}

.btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: plum;
    z-index: -1;
    transition: all 1s;
}

.btn:hover::before {
    width: 160%;
}

